[Desktop Entry]
Type=Application
Name=Glaneur
Comment=Sync images from a WordPress or Djangoplicity site
Exec=Glaneur
Icon=org.glaneur.Glaneur
Terminal=false
Categories=Network;Utility;
Keywords=WordPress;Djangoplicity;images;download;