[Desktop Entry]
Type=Application
Name=Glaneur
Comment=Synchronise les images d'un site WordPress
Exec=Glaneur
Icon=org.glaneur.Glaneur
Terminal=false
Categories=Network;Utility;
Keywords=WordPress;images;download;