[Desktop Entry]
Type=Application
Name=WP Image Downloader
Comment=Synchronise les images d'un site WordPress
Exec=WpImageDownloader
Icon=org.wpimagedownloader.WpImageDownloader
Terminal=false
Categories=Network;Utility;
Keywords=WordPress;images;download;